{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".json"],
      "alias": {
        "lib": "./src/lib"
      }
    }]
   ]
}
